<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>
    <link rel="preload" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912238/pano_ygatwa.webp">
    <link rel="preload" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912238/pano2_cod7we.webp">
    <link rel="preload" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912238/pano3_umyftr.webp">
    <link rel="preload" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912245/pano4_js5tpp.webp">
    <link rel="preload" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912245/pano5_yqprop.webp">
</head>
<body>

    <button onclick="topFunction()" class="topBtn" title="UP">TOP</button>
    
    <%- include('../partials/nav'); %>

    <section id="photo-start">

      <%- include('../partials/burger'); %>

        <div class="title-container" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
            <div style="z-index: 100;">
                <h1 class="main-title">Photography</h1>
            </div>
        </div>
    </section>
    <section id="pano-sec">
            <!-- <img class="slideImg" src="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_2500/v1623912238/pano_ygatwa.webp" alt="pano">
            <img class="slideImg" src="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_2500/v1623912238/pano2_cod7we.webp" alt="pano2">
            <img class="slideImg" src="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_2500/v1623912245/pano4_js5tpp.webp" alt="pano4">
            <img class="slideImg" src="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_2500/v1623912243/pano5_yqprop.webp" alt="pano5">
            <img class="slideImg" src="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_2500/v1623912238/pano3_umyftr.webp" alt="pano3"> -->
            <%- include('../partials/imgs'); %> 
    </section>

    <%- include('../partials/footer'); %>

    <script>
        AOS.init();
      </script>
</body>
<script src="js/main.js"></script>
<script src="js/slider.js"></script>
<script src="js/anime.min.js"></script>
</html>