<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>
    <link rel="preconnect" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912238/pano_ygatwa.webp">
    <link rel="preconnect" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912238/pano2_cod7we.webp">
    <link rel="preconnect" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912238/pano3_umyftr.webp">
    <link rel="preconnect" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912245/pano4_js5tpp.webp">
    <link rel="preconnect" as="image" type="image/webp" href="https://res.cloudinary.com/dodxyoerw/image/upload/c_scale,q_100,w_1200/v1623912245/pano5_yqprop.webp">
</head>
<body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
    </div>

    <%- include('../partials/nav'); %>

    <section id="photo-start">

      <%- include('../partials/burger'); %>

        <div class="title-container" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
            <div style="z-index: 100;">
                <h1 class="main-title">Photography</h1>
            </div>
        </div>
    </section>
    <section id="pano-sec">
       
    <div>
        <div>
            <%- include('../partials/imgs'); %> 
        </div>
        
        <!-- <div style="float: none; margin-top: 100px;">
        </div> -->
    </div>

    </section>

    <%- include('../partials/footer'); %>

    <script>
        AOS.init();
      </script>
          <button onclick="topFunction()" class="topBtn" title="UP">&#8679;</button>
</body>
<script src="js/main.js"></script>
<script src="js/ani.js"></script>
<script src="js/anime.min.js"></script>
</html>